# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Translations
*.mo
*.pot


# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/


# mkdocs documentation
/site

MNIST/
math_garden_website/
